.manage
{
padding-top: 20px;
    border-bottom: 1px solid black;
}
.item h2
{
    font-size: 25px;
    font-style: italic;
}
.item h3
{
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}
.errorMessages
{
    color:#FF0000;
}
.formLS
{
    padding: 20px 60px;
    background: #B6E0FF;
    color: #555;
    display: inline-block;
    border-radius: 4px;
}
.textBox
{
    padding: 8px;width: 200px;
    border: #A3C3E7 1px solid;
    border-radius: 4px;
}
.positionTB
{
    margin:15px 0px;
}
.container
{
    padding:15px;
}
.button1
{
    background-color: #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}
